.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.subcontainer {
  background-color: royalblue;
  width: 26%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innercontainer {
  background-color: white;
  width: 89%;
  height: 96%;
  border-radius: 15px;
}
.headercontainer {
  display: flex;
  justify-content: end;
  padding: 8%;
  gap: 6%;
}
.imagecontainer {
  margin: 5%;
  position: relative;
  top: 0;
  left: 0;
}
.img {
  border-radius: 10px;
}
.mainimagecontainer {
  position: relative;
  top: 0;
  left: 0;
}
.avatarcontainer {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}
.profilename {
  font-size: 18px;
  text-align: center;
}
.verifiedcontainer {
  width: 20px;
  height: 20px;
}
.profilenamecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26%;
}
.descriptioncontainer {
  margin-top: -8%;

  padding-left: 4%;
  padding-right: 4%;
}
.description {
  font-size: 12px;
  text-align: center;
}
.profilecontainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: -5%;
}
.btn {
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5% 25%;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.buttoncontainer {
  display: flex;
  justify-content: center;
}
.subdetailscontainer {
  display: grid;
  justify-content: center;
}
@media screen and (max-width: 630px) {
  .profilename {
    font-size: 10px;
  }
  .description {
    font-size: 6px;
  }
  .btn {
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 3% 18%;
    text-align: center;
    text-decoration: none;

    font-size: 7px;
    margin: 2px 1px;
    cursor: pointer;
  }
  .subdetailscontainer {
    display: grid;
    justify-content: center;
  }
}
@media screen and (max-width: 388px) {
  .profilename {
    font-size: 5px;
  }
  .description {
    font-size: 4px;
    font-weight: 300;
  }
}
